body {
    height: 100vh;
}

main {
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.landingImage {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height:60%;
}
.landingImage img {
    display: none;
    position: relative;
    height: 100%;
}

.search {
    display: flex;
    flex-flow: row;
}
.search input {
    margin-left: 10px;
    font-size: 2em;
}
.search i {
    margin-top: 10px;
    font-size: 2em;
}

.landingText {
  padding: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.landingText h2 {
    margin-bottom: 10px;
    float: left;
    font-size: 3em;
    font-family: serif;
}
.landingText h3 {
  clear: both;
  font-size: 1.2em;
  font-weight: 100;
}
.landingSearch {
    background-color: #716955;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.landingSearch h2, .landingSearch h3 {
    margin: 5px;
    font-size: 2em;
}

.flashCardContainer {
    position: relative;
    min-height: 30rem;
}

.flashCardContainer p {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    font-size: 2rem;
}

.flashCardSidebar {
    min-height: 30rem;
    overflow: auto;
    max-height: 30rem;
}

.flashCardButtonContainer {
    padding: 4rem;
}

.navigate {
    margin-right: 4rem;
    font-size: 4rem;
}
