body {
    height: 100vh;
}

.landingImage {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width:100%;
    height:60%;
}
.landingImage img {
    position: relative;
    height: 75%;
}

.search {
    display: flex;
    flex-flow: row;
}
.search input {
    margin-left: 10px;
    font-size: 2em;
}
.search i {
    margin-top: 10px;
    font-size: 2em;
}
.landingText h2 {
    float: left;
    font-size: 4em;
    font-family: serif;
}
.landingText h3 {
  clear: both;
  font-size: 1.75em;
  font-weight: 100;
}
.landingImage .landingText {
    position: relative;
    margin-top: 0px;
    margin-left: 20px;
}
.landingSearch {
    background-color: #716955;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.landingSearch h2, .landingSearch h3 {
    margin: 5px;
    font-size: 2em;
}

.flashCardContainer {
    position: relative;
    min-height: 30rem;
}

.flashCardContainer p {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    font-size: 2rem;
}

.flashCardSidebar {
    min-height: 30rem;
    overflow: auto;
    max-height: 30rem;
}

.flashCardButtonContainer {
    padding: 4rem;
}

.navigate {
    margin-right: 4rem;
    font-size: 4rem;
}
